#col1{
    margin-right: 20px;
    text-align: right;
}    
h2{
    
    text-align:center;
}
h1{
    
    text-align:center;
}
header{
    text-align:center;
    position: absolute;
    width: 400px;
    height: 35px;
    left: 400px;
}
button{
    float:left;
}
article{
    position: absolute;
}
table{
    width: 1000px;
    height: 550px;
}

