body{
    margin: 0 auto;
    width: 1200px;
    background-repeat: no-repeat;
     background-image: linear-gradient(#7dbeff, #ffffff);
}
nav{
    width: 400px;
    margin: 0 auto 0px auto;
   
}

button{
    float:left;
}
article1{
    float: left;
    width: 500px;
    height: 450px;
    
}
article2{
   
    width: 700px;
    height: 550px;
    float: right;
    
}

.clear{
    clear: both;
}
#col{
    text-align: center;
    font-weight:bold;
}
img{
    position: relative;
    left:50px;
}
h2{
    
    text-align:center;
}

section_1{
    float: left;
}