nav{
    width: 400px;
    margin: 0 auto 0px auto;
    float: left;
}

button{
    float:left;
}
article1{
    float: left;
    width: 40%;
    height: 450px;
    
}
article2{
   
    width: 60%;
    height: 550px;
   
    
}

.clear{
    clear: both;
}
#col{
    text-align: center;
    font-weight:bold;
}
img{
    position: relative;
    left:50px;
}