nav{
    width: 400px;
    margin: 0 auto 0px auto;
    
}
button{
    float:left;
}
.clear{
    clear: both;
}article{
    float: left;
    width: 1500px;
    height: 550px;
    margin: 0 auto 0px auto;
    
}