#col1{
    margin-right: 20px;
    text-align: right;
}    
h2{
    
    text-align:center;
}
h1{
    
    text-align:center;
}
header{
    text-align:center;
 
    width: 400px;
}
button{
    float: left;
}