nav{
    text-align:center;
    position: relative;
    width: 400px;
    height: 35px;
    left: 400px;
    border-color: green;
    border-width: 4px;
}
header{
    text-align: center;
}
button{
    float:left;
}
article1{
    float: left;
    width: 500px;
    height: 100px;
     border-width: 4px;
     border-color: red;
}
article2{
    float: left;
    width: 700px;
    height: 400px;
     border-width: 4px;
     border-color: red green blue yellow;
}
article3{
    float: none;
    width: 500px;
    height: 400px;
     border-width: 4px;
     border-color: red green blue yellow;
}
