   
h2{
    
    text-align:center;
}
h1{
    text-shadow: 6px 3px 6px rgba(123, 144, 173, 1);
    font-size: 40px;
    text-align:center;
}
header{
    width: 400px;
    margin: 0 auto 0px auto;
    
}

button{
    float:left;
}

#cube{
    width: 1200px;
    height 200px;
   box-shadow: 11px 7px 10px -3px #696969; 
}
